nycpayroll/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "nycpayroll"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dataflow load employee masterdata to synapse sqlpool table')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dataset_adls_nycpayroll_EmpMaster",
								"type": "DatasetReference"
							},
							"name": "ADLSEmployeeMD"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dataset_synapse_nycpayroll_EmpMd",
								"type": "DatasetReference"
							},
							"name": "SynapseEmployeeMD"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          EmployeeID as integer,",
						"          LastName as string,",
						"          FirstName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> ADLSEmployeeMD",
						"ADLSEmployeeMD sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          EmployeeID as string,",
						"          LastName as string,",
						"          FirstName as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          EmployeeID,",
						"          LastName,",
						"          FirstName",
						"     )) ~> SynapseEmployeeMD"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow load title masterdata to synapse sqlpool table')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dataset_adls_nycpayroll_TitleMaster",
								"type": "DatasetReference"
							},
							"name": "ADLSTitleMasterData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dataset_synapse_nycpayroll_TitleMd",
								"type": "DatasetReference"
							},
							"name": "SynapseTitleMasterdata"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          TitleCode as integer,",
						"          TitleDescription as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> ADLSTitleMasterData",
						"ADLSTitleMasterData sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TitleCode as string,",
						"          TitleDescription as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          TitleCode,",
						"          TitleDescription",
						"     )) ~> SynapseTitleMasterdata"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline Agency MD to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Agency MD to Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow load agency masterdata to synapse sqlpool table",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ADLSAgencyMasterdata": {},
									"SynapseAgencyMasterdata": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adls_nyc_payroll",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-gilang-ilhami/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-10T13:52:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline Employee MD to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Employee MD to Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow load employee masterdata to synapse sqlpool table",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ADLSEmployeeMD": {},
									"SynapseEmployeeMD": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adls_nyc_payroll",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-gilang-ilhami/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-10T13:11:20Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow load employee masterdata to synapse sqlpool table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline Load All Data into Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Dataflow Load Employee MD",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow load employee masterdata to synapse sqlpool table",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ADLSEmployeeMD": {},
									"SynapseEmployeeMD": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adls_nyc_payroll",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-gilang-ilhami/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Dataflow Load Agency MD",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow load agency masterdata to synapse sqlpool table",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ADLSAgencyMasterdata": {},
									"SynapseAgencyMasterdata": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adls_nyc_payroll",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-gilang-ilhami/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Dataflow Load Title MD",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow load title masterdata to synapse sqlpool table",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ADLSTitleMasterData": {},
									"SynapseTitleMasterdata": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adls_nyc_payroll",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-gilang-ilhami/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Dataflow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Dataflow Load Employee MD",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Dataflow Load Agency MD",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Dataflow Load Title MD",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow load 2021 Payroll Data from SQLDB to Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SQLDB2021PayrollData": {},
									"Synapse2023PayrollData": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adls_nyc_payroll",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-gilang-ilhami/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-10T14:46:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow load employee masterdata to synapse sqlpool table')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow load title masterdata to synapse sqlpool table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline Load Current Year Data from SQLDB to Syanapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SQLDBCurrentYearToSynapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow load 2021 Payroll Data from SQLDB to Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SQLDB2021PayrollData": {},
									"Synapse2023PayrollData": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adls_nyc_payroll",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-gilang-ilhami/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-10T14:08:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline Title MD to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Title MD to Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow load title masterdata to synapse sqlpool table",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ADLSTitleMasterData": {},
									"SynapseTitleMasterdata": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adls_nyc_payroll",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-gilang-ilhami/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-10T13:20:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow load title masterdata to synapse sqlpool table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline aggregate summary')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NYCPayrollSummary",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow load 2020 Payroll Data to SQL DB summary",
								"type": "DataFlowReference",
								"parameters": {
									"dataflow_param_fiscalyear": {
										"value": "@pipeline().globalParameters.dataflow_fiscalyear",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"ADLS2020PayrollData": {},
									"SQLDB2021PayrollData": {},
									"SQLDBSummaryTable": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adls_nyc_payroll",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayroll-gilang-ilhami/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-10T15:30:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline load 2021 Payroll into SQLDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "load 2021 Payroll data into transaction table in the SQL DB",
				"activities": [
					{
						"name": "load 2021 Payroll data",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow load 2021 Payroll Data to SQL DB transaction",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ADLS2021PayrollData": {},
									"SQLPayrollTransactionTable": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-10T12:39:57Z"
			},
			"dependsOn": []
		}
	]
}